<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">EXPLORING KUTTIKANAM</a></h2>
            <p>“Exploring the beauty of nature on a sunny day. The vibrant colors, the fresh air, and the peaceful silence. It’s moments like these that remind us to slow down and appreciate the world around us. Remember, life is a journey, not a destination. Enjoy every moment. #NatureLover #Mindfulness #Journey”</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">LEARNING SKILLS</a></h2>
            <p>“Embracing the joy of learning something new every day. It’s the small steps that lead to big changes. Keep pushing, keep growing, and remember, the only limit is the one you set for yourself. #Learning #Growth #NoLimits”</p>
        </article>
    </body>
</html> -->

<header>
    <h1><a href="/">Django Girls Blog</a></h1>
</header>

{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
